
@{
    ViewBag.Title = "DocumentUpload";
}

<h2>Upload a Document</h2>

<form action="~/Home/UploadDocument" method="post" enctype="multipart/form-data">
    <span class="inputLabel">Title:</span>       <input type="text" name="DocumentTitle" value="" /><br /><br />

    <span class="inputLabel">Document Id:</span> <input type="text" name="DocumentId" value="" /><br /><br />

    <input type="file" name="upload" /><br />

    <input type="submit" value="Submit Document" />

</form>

