@model List<Document_Management_Solution.Models.DocumentModel>
@{
    ViewBag.Title = "DocumentSearch";
    var grid = new WebGrid(Model);
}

<h2>Search for a Document</h2>

<form method="post">
    Document Title:  @Html.TextBox("DocumentTitle")<br /><br />

    Document Id: @Html.TextBox("DocumentId")<br /><br />

    <input type="submit" value="Search" /><br />

    <div id="grid">
        @grid.GetHtml()
    </div>

</form>


