@model List<Document_Management_Solution.Models.DocumentModel>
@{
    ViewBag.Title = "DocumentSearch";
    var grid = new WebGrid(Model);

}

<h2>Search for a Document</h2>

<form method="post">
    Document Title:  @Html.TextBox("DocumentTitle")<br /><br />

    Document Id: @Html.TextBox("DocumentId")<br /><br />

    <input type="submit" value="Search" /><br />



</form>

<div id="grid">

    @grid.GetHtml(columns: grid.Columns(
grid.Column("DocumentTitle", "Document Title"),
grid.Column("DocumentId", "Document Id"),
grid.Column("FileName", "File"),
grid.Column("", "Download", format: (documentModel) => {
var url = "Download/" + documentModel.Id;
return Html.Raw("<a href=\"" + url + "\">Download File</a>");
    })))


</div>


